#content
{
color:white;
text-align:center;
padding-top:25%;
}



.divicon
{
padding-bottom:25%;
font-size:2000%;
}


#email
{
font-size:20%;
 display:none;
 color:red;
}

#mail
{
color:red;
}

#mail:active
{
color:#4b3870;
}
#insta:active
{
color:#4b3870;
}
#whatsapp:active
{
color:#4b3870;
}

#whatsapp
{
color:#178f21;
}

#insta
{
color:#b02893;
}

.navbar-default.navbar-fixed-top
{ 
background:#4b3870;
}

.navbar .navbar-nav li a
{
color:white;
font-weight:600;
}

.navbar .navbar-header .navbar-brand
{ 
color:white;
}

.navbar .navbar-nav li a:hover
{ 
color:#324f45;
background-color:white;
}
