#content
{
color:white;
  text-align:center;
padding-top:25%;
}

body
{
  background:url(https://images.unsplash.com/photo-1600340062385/-f4aa726fca50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMDk0fQ&auto=format&fit=crop&w=1188&q=80);

background-size:cover;
background-position:centre;
background-repeat:no-repeat;

}

h1
{
  font-family:"lato";
  
}

h3
{
  font-family:"Courier prime";
  padding-bottom:5%;
}

.navbar-default.navbar-fixed-top
{

background:#324f45;

}
.navbar-nav
{

}

